{% extends "layout.html" %}

{% block title %}chai aur tweet{% endblock %}

{% block content %}
<h1 class="text-center text-white mt-4">Tweets</h1>
<p><a class="btn btn-primary mb-3" href="{% url 'tweet:tweet_create' %}">Create a Tweet</a></p>

<div class="row gap-3">
  {% for tweet in tweets %}
  <div class="card col-3">
    {% if tweet.photo %}
      <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet photo">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ tweet.user.username }}</h5>
      <p class="card-text">{{ tweet.text }}</p>
      {% if tweet.user == user %}
        <a href="{% url 'tweet:tweet_edit' tweet.id %}" class="btn btn-sm btn-primary">Edit</a>
        <a href="{% url 'tweet:tweet_delete' tweet.id %}" class="btn btn-sm btn-danger">Delete</a>
      {% endif %}
    </div>
  </div>
  {% empty %}
    <p>No tweets yet.</p>
  {% endfor %}
</div>

{% endblock %}